
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success" asp-area="AdminModule" asp-controller="AdminDemo" asp-action="Index">Admin Page</a>

<a class="btn btn-success"  asp-controller="Demo" asp-action="OnAction">Admin Page OnAction</a>